ul {
  list-style: none;
}
.gallery {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-image {
  width: 360px;
  height: 199px;
}
.modal {
  width: 1440px;
  height: 696px;

  background: rgba(46, 47, 66, 0.8);
}
.modal-img {
  width: 1112px;
  height: 640px;
  padding-top: 28px;
  padding-left: 164px;
}
